.crossad_missing::before { content: 'Missing some other issues of Amazing Spider-Man'; }
.seelinktitle::before { content: 'Amazing Spider-Man'; }

/* #asm362, #asm363, #asm345, #asm346, #asm347, #asm378, #asm379, #asm380 { display: none; } */

/* #asm74 .colDetail { background-color: gray; }
#asm74 .rowPrice { display: none; }
#asm74 .colDetail::before {
    white-space: pre;
    color: blue;
    content: '*** Currently On-Sale in a Separate Listing *** \a';
} */


/* .comingSoon { display: flex; background-color: yellow; } */
/* .comingSoon .rowGrade::before { content: 'COMING SOON' } */
/* .comingSoon .colDetail::before { display: block; content: 'Many more issues coming -- check back periodically!'} */
/* .comingSoon .colDetail::after  { display: block; content: ' working my way backwards from the mid 100s down...'} */


/* LINK DATA */
#asm54pressedBLink  .colStats .rowPrice::before { content: '49.00'; color: red; } #asm54pressedBLink  .colStats .rowPrice::after { content: ' SOLD'; color: red; font-weight: bold; font-size: 0.7rem; }
#asm71pressedBLink  .colStats .rowPrice::after { content: '58.00'; }
#asm136pressedBLink .colStats .rowPrice::before { content: '44.00'; color: red; } #asm136pressedBLink .colStats .rowPrice::after { content: ' SOLD'; color: red; font-weight: bold; font-size: 0.7rem; }
#asm168pressedLink  .colStats .rowPrice::after { content: '11.00'; }
#asmAimPressedLink  .colStats .rowPrice::before { content: '4.95'; color: red; } #asmAimPressedLink  .colStats .rowPrice::after { content: ' SOLD'; color: red; font-weight: bold; font-size: 0.7rem; }
#asmMSH14Link       .colStats .rowPrice::after { content: '6.80'; }
