.crossad_missing::before { content: 'Missing some other issues of Amazing Spider-Man'; }
.seelinktitle::before { content: 'Amazing Spider-Man'; }

/* #asm362, #asm363, #asm345, #asm346, #asm347, #asm378, #asm379, #asm380 { display: none; } */

/* #asm74 .colDetail { background-color: gray; }
#asm74 .rowPrice { display: none; }
#asm74 .colDetail::before {
    white-space: pre;
    color: blue;
    content: '*** Currently On-Sale in a Separate Listing *** \a';
} */


/* .comingSoon { display: flex; background-color: yellow; } */
/* .comingSoon .rowGrade::before { content: 'COMING SOON' } */
/* .comingSoon .colDetail::before { display: block; content: 'Many more issues coming -- check back periodically!'} */
/* .comingSoon .colDetail::after  { display: block; content: ' working my way backwards from the mid 100s down...'} */


/* LINK DATA */
#asm49pressedCLink      .colStats .rowPrice::after { content: '67.50'; }
#asm54pressedBLink      .colStats .rowPrice::after { content: '59.00'; }
#asm63pressedBLink      .colStats .rowPrice::before { content: '45.00'; color: red; } #asm63pressedBLink      .colStats .rowPrice::after { content: ' SOLD'; color: red; font-weight: bold; font-size: 0.7rem; }
#asm71pressedBLink      .colStats .rowPrice::after { content: '62.00'; }
#asm77pressedBLink      .colStats .rowPrice::before { content: '49.00'; color: red; } #asm77pressedBLink      .colStats .rowPrice::after { content: ' SOLD'; color: red; font-weight: bold; font-size: 0.7rem; }
#asm91pressedLink       .colStats .rowPrice::before { content: '43.00'; color: red; } #asm91pressedLink       .colStats .rowPrice::after { content: ' SOLD'; color: red; font-weight: bold; font-size: 0.7rem; }
#asm136pressedBLink     .colStats .rowPrice::after { content: '62.00'; }
#asm161pressedLink      .colStats .rowPrice::after { content: '19.95'; }
#asm168pressedLink      .colStats .rowPrice::after { content: '11.00'; }
#asm299pressedLink      .colStats .rowPrice::after { content: '99.95'; }
#asmAimPressedLink      .colStats .rowPrice::after { content: '7.95'; }
#asmMSH14Link           .colStats .rowPrice::after { content: '6.80'; }
#asm209spec251to253Link .colStats .rowPrice::before { content: '42.00'; color: red; } #asm209spec251to253Link .colStats .rowPrice::after { content: ' SOLD'; color: red; font-weight: bold; font-size: 0.7rem; }
