.crossad_missing::before { content: 'Missing some other issues of Avengers'; }
.seelinktitle::before { content: 'Avengers'; }

/* #aven227 .colDetail { background-color: yellow; } */
/* #aven227 .colDetail::before { color: red; content: '*** HOT *** '; } */

/*
.comingSoon { display: flex; background-color: yellow; }
.comingSoon .rowGrade::before { content: 'COMING SOON' }
.comingSoon .colDetail::before { display: block; content: 'More issues coming your way soon -- check back often!'}
.comingSoon .colDetail::after  { display: block; content: 'Will be filling in gaps between 56 and 150 primarily ...'}
 */

/* LINK DATA */
#avengers48pressedLink .colStats .rowPrice::after { content: '175.00'; }
#aven263ff286Link      .colStats .rowPrice::after { content: '32.50'; }
#Avengers332to343Link  .colStats .rowPrice::after { content: '23.95'; }
#avengers8cgc50Link    .colStats .rowPrice::after { content: '850.00'; }
