.crossad_missing::before { content: 'Missing some other issues of Daredevil'; }
.seelinktitle::before { content: 'Daredevil'; }

/* Out of Stock (no longer display) */
/* #dd162 { display: none; } */

/*
.comingSoon { display: flex; background-color: yellow; }
.comingSoon .rowGrade::before { content: 'COMING SOON' }
.comingSoon .colDetail::before { display: block; content: 'Many more issues coming -- check back periodically!'}
.comingSoon .colDetail::after  { display: block; content: ' This listing just getting underway, so please be patient... '}
 */

/* LINK DATA */
#dd7pressedLink .colStats .rowPrice::before { content: '525.00'; color: red; } #dd7pressedLink .colStats .rowPrice::after { content: ' SOLD'; color: red; font-weight: bold; font-size: 0.7rem; }
