.crossad_missing::before { content: 'Missing some other issues of Iron Man'; }
.seelinktitle::before { content: 'Iron Man'; }

/* Out of Stock (no longer display) */
/* #ironman162 { display: none; } */
 
/*  
.comingSoon { display: flex; background-color: yellow; }
.comingSoon .rowGrade::before { content: 'COMING SOON' }
.comingSoon .colDetail::before { display: block; content: 'Slowly filling in the gap after issue 12,'}
.comingSoon .colDetail::after  { display: block; content: 'so check back periodically!'}
 */

/* LINK DATA */
#ironmanSubmarinerLotOf4Link .colStats .rowPrice::after { content: '110.00'; }
#ironMan43pressedLink        .colStats .rowPrice::after { content: '18.50'; } #ironMan43pressedLink        { display: none }
