.ifYouSeeThis, .otheritems, .shiprate-set, .notSeeIt { display: none; }

.col1 { font-weight: bold; width: 15%; }

.title, .issue, .date, .publisher, .condition {
  font-style: italic;
  font-weight: bold;
  margin-left: 10px;
}

.deffont {
    font-family: Verdana;
    font-size:   14pt;
    line-height: 1.1;
}

.intro, .outro {
    font-size: 18pt;
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.70);
    text-align: center;
    padding: 3px;
    /* display: none; */
}

.intro::before, .outro::after {
    content: 'TOP-RATED SELLER';
}

.intro::after {
    white-space: pre;
    font-size: 12pt;
    content: '\a (I ship on Monday and Thursday mornings.)';

    /* color: blue; */

    /* content: '\a \a *** ANNOUNCEMENT ***\a \a USPS has increased their shipping rate by OVER 12 PERCENT since January, \a which has tragically forced me raise my rate as well, as of July, 2024.\a \a But my increase is closer to 10 PERCENT (as opposed to 12),\a as I am trying hard to bear the brunt where I can to keep your cost down as much as possible. \a \a Thank you so much to all of you who have been my buyers these last \a few years on eBay, and I hope to continue to serve you into the future. \a \a'; */
    /* content: '\a \a I am currently away, and all my listings are temporarily suspended. \a \a I will be returning on July 29. \a Thank you for your patience. \a \a '; */
    /* content: '\a \a I will be away from October 31 - November 7, \a and my listings will be temporarily suspended. \a \a The last day you can order before I leave is Sunday, October 30. \a Thank you for your patience. \a \a '; */
    /* content: '\a \a I am currently away until July 28. \a \a You can still order books, but I will not ship again \a until I get back, so please consider that when you order. \a \a Thank you for your patience. \a \a '; */


}

.maininfo, .crossad {
    border: 2px solid blue;
    padding: 8px;
    margin: 8px 8px;
}

.shiprate {
    font-style: underline;
    font-weight: bold;
    background-color: powderblue;
    padding: 5px;
    border-bottom: 5px;
    border: 1px solid blue;
    display: inline-block;
}

.eligible {
    text-align: center;
    padding: 5px;
    background-color: powderblue;
    margin-bottom: 8px;
}

.eligible-shiprate {
    font-weight: bold;
}

.eligible-before::before { content: 'Eligible for'; }
.eligible-after::before  { content: '(details below)'; }

.shiprate::before, .eligible-shiprate::before {
    content: ' Unlimited $5.85 Shipping Rate ';
}

.snugup { margin-top: .5rem; }
.title { color: #8a0035; }
.issue, .publisher, .condition, .date { color: #ff0010; }
.notable, .conddetail { color: #006521; }
.unopened { color: red; }
.newsstand { color: blue; }
.upcoming, .bottomline { color: blue; }
.firstapp { background-color: yellow; }
.pressed { color: #006521;     font-weight: bold; }

/* <--issueTABLE--> */
table.issueTable {
    width: 99% !important;
    margin-left: auto;
    margin-right: auto;
}

table.issueTable tr td:nth-of-type(1) {
    background-color: lightgray;
    font-style: italic;
    width: 145px;
}

.gradedesc {
    color: darkslategray;
    background-color: rgba(255, 255, 0, 0.15);
    border: 2px solid darkslategray;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
}

.beforeShipping::before {
    content: 'Any time you buy a single book from me, you\'re eligible for my special unlimited rate of';
}

.totalShipping { color: red; }
.totalShipping::before {
    content: ' $5.85 TOTAL SHIPPING ';
}

.afterShipping::before {
    content: '– meaning you buy one book?  You pay $5.85.  You buy 100?  You STILL pay 5.85, so make sure you bundle whenever possible to pile up on the savings, and don\'t forget to use the Add to Cart feature and Continue Shopping which will allow you to finally request a combined invoice that will allow me to apply the discount.  Let me know if ebay gives you any problems here -- we\'ll work through them.';
}

.seelinktitle::before {
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    color: blue;
}


.giftidea { display: none; }

/* .whenyoubuy {
    background-color: lightblue;
    border: 1px solid black;
    padding: 2px;
    white-space: pre;
} */

.wyb-intro::before      { content: 'When you buy '; }
.wyb-single::after      { content: 'this book';   }
.wyb-regular::after     { content: 'these books'; }
.wyb-add2cart::before   { content: ', click '; }
.wyb-add2cart::after    { content: 'Add to Cart'; font-weight: bold; }
.wyb-checkout::before   { content: ' and then check out any other of my single-issue listings (links below, but it applies to '; }
.wyb-checkout::after    { content: 'any '; font-style: italic; }
.wyb-noaddlship::before { content: 'of my listings involving a single issue) and add on as many other issues there as you like and pay '; }
.wyb-noaddlship::after  { content: 'no additional shipping!'; font-weight: bold; }
.wyb-whygo::before      { content: ' Why go to the trouble of hunting those down and paying shipping again when you can just add them to this order and pay no extra shipping?'; }
.wyb-invoice1::before   { content: ' Just request an invoice from seller on the checkout screen before paying to give me a chance to apply the discount.'; }


.my-assessment::before {
    content: 'Obviously this is my assessment, and I\'ve described everything I can see.  Check my feedback, and you\'ll find that that I seem to hit the mark on the vast majority of my listings, and you won\'t find many who take the time to be as thorough as I try to be.  But please examine the photos closely and judge for yourself.';
}

.zoomin::before {
    content: 'Please zoom in on the pictures and have a good look for yourself. I don\'t think you\'ll be disappointed. I am happy to answer your questions and will do whatever I can to help you make an informed purchase.';
}

/* .zoomin::after {
    white-space: pre;
    content: '\a \a Note that I ship once eBay indicates that payment has been successfully processed.';
    color: blue;
} */

/* Dull these slightly so they can tell the unique part is over. */
/* .my-assessment,
.whenyoubuy,
.zoomin {
    color: slategray;
} */


.notSeeIt::before {
    content: 'Don\'t see the issue you\'re looking for?  Heck, I might have it and just haven\'t listed it yet, so I always encourage buyers to ask about other issues.';
}

.wrapup {
    border-top: 1px solid black;
    padding-top: 7px;
}

.aboutme-title {
    color: blue;
    font-style: bold;
}

.aboutme-title::before {
    content: 'About Me';
}

.aboutme::after {
    content: 'I have been selling comics on and off for over 35 years.  I am a Top-Rated Seller with a solid track record, so you can rest assured that I will pack all books well.  And I don\'t gouge people on the shipping either, as you see done all over eBay.  Please check my feedback and other items.  I apparently ship faster than most since that seems to be what everyone is saying about me.';
}

.newlistings {
    font-weight: bold;
}

/* Commented out March 26, 2023 */
/* .newlistings::before {
    content: 'New listings posted every month, so check back regularly.';
} */

/* .final {
    background-color: yellow;
    padding: 1rem;
}

.final::before {
    content: 'place to put a final message, perhaps on vacation until some date';
} */

.thisTitle::before { content: ''; }

.crossad_missing, .crossad_lots {
    background-color: lightskyblue;
    text-align: center;
    font-weight: bold;
    padding: 6px;
    margin-bottom: 4px;
}

.crossad_missing::before { content: 'Missing some issues of other titles'; }
.crossad_missing::after { content: '?'; }
.crossad_missingdesc::before { content: 'You\'ll find plenty more '; }

.crossad_missingdesc .thisTitle::after {
    content: ' right here.  Click each title shown below to open a new window and add as many single issues from that title as you like and pay ';
}

.crossad_missingdesc::after {
    content: ' no matter how many you add on.';
}

@media (max-width: 45em) {
    .crossad_missingdesc::after {
        content: ' no matter how many you add on. \a \a (Please note that the links work best on a desktop computer rather than on the ebay mobile app.)';
    }
}

.crossad_missingAF, .crossad_lotsafter {
    font-size: 1rem;
    text-align: center;
}

.crossad_missingAF::before {
    content: '(instructions on how to do this are provided with each listing)';
}

.crossad_lots {
    margin-top: 8px;
}

.crossad_lots::after {
    content: 'Also be sure to check out these "Choose Your Lot" listings!';
}

.crossad_titleRow, .crossad_title, .crossad_lotRow  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.crossad_title figure {
    text-align: center;
    margin: 0;
    padding: 1.5rem;
    font-size: .9rem;
}

.crossad_lotRow .crossad_title figure {
    padding: 2px 8px 16px 2px;
}

.crossad_figuredesc::before {
    white-space: pre;
    font-size: .8rem;
}

#crossad_123971716031::before {
    content: 'Amazing Spider-Man 284-288 \a Amazing Spider-Man 320-325 \a Amazing Spider-Man 334-339 \a Avengers 269-279 \a Avengers 282-296 \a Avengers 332-343 \a Thor 393-396 \a';
}

#crossad_123865644497::before {
    content: 'Brave and the Bold \a Death of Superman \a Legion of Super-Heroes \a Superman Grab Bag';
}

/* Hide the Spider-Man Giveaways and DC Lot listing -- being phased out */
/* Actually hide ALL the crossad_lot data for now.  */
/* .crossad_lotRow .crossad_title:nth-child(2), */
#crossad_give,
#crossad_ten2,
#crossad_tos,
#crossad_stal,
.crossad_lots, .crossad_lotsdesc, .crossad_lotRow, .crossad_lotsafter
{
    display: none;
}
