/* ACTIVATE THIS LINE WHEN FINALLY SHOWING THIS TITLE */
.crossad_missing::before { content: 'Missing some other issues of Marvel Team-Up/Two-In-One'; }

/* .seelink { display: none; } */
.seelinktitle::before { content: 'Marvel Team-Up/Two-In-One'; }

/* The more complicated image display for ten */
.pubimage {
    float: left;
    height: 2.5rem;
    /* width:  5rem; */
    padding-right: 0.5rem;
}


/* Out of Stock (no longer display) */
/* #mtu72 { display: none; } */


/* .comingSoon { display: flex; background-color: yellow; } */
/* .comingSoon .rowGrade::before { content: 'COMING SOON' } */
/* .comingSoon .colDetail::before { display: block; content: 'Many more Team-Ups on the way -- check back periodically!'} */
/* .comingSoon .colDetail::after  { display: block; content: ' Working my way backwards from 20 down to fill in the gaps.  Please be patient... '} */

/* LINK DATA */
#mtu53pressedLink      .colStats .rowPrice::before { content: '19.95'; color: red; } #mtu53pressedLink      .colStats .rowPrice::after { content: ' SOLD'; color: red; font-weight: bold; font-size: 0.7rem; }
#mtu95pressedCLink     .colStats .rowPrice::after { content: '29.95'; }
#mtu103pressedLink     .colStats .rowPrice::after { content: '9.95'; }
#mtu65and66pressedLink .colStats .rowPrice::after { content: '89.00'; }
