.crossad_missing::before { content: 'Missing some other issues of Uncanny X-Men'; }
.seelinktitle::before { content: 'Uncanny X-Men'; }

/* .comingSoon { display: flex; background-color: yellow; } */
/* .comingSoon .rowGrade::before { content: 'COMING SOON' } */
/* .comingSoon .colDetail::before { display: block; content: 'More issues coming your way soon -- check back often!'} */
/* .comingSoon .colDetail::after  { display: block; content: '(will be filling in the large gap in the 200s)'} */

/* LINK DATA */
#xmen169pressedNSLink     .colStats .rowPrice::after { content: '7.95'; }
#xmenClassicLotOf5Link    .colStats .rowPrice::after { content: '6.95'; }
#xmenCompanionLink        .colStats .rowPrice::after { content: '44.00'; } #xmenCompanionLink        { display: none }
#xmenEarlyYearsLotOf5Link .colStats .rowPrice::after { content: '4.95'; }
#xmenLotOf7Link           .colStats .rowPrice::after { content: '8.50'; }
#XmenMicronautsSetALink   .colStats .rowPrice::after { content: '17.00'; } #XmenMicronautsSetALink   { display: none }
#XmenMicronautsSetALink   .colStats .rowPrice::after { content: '17.00'; } #XmenMicronautsSetALink   { display: none }
#XmenMicronautsSetBLink   .colStats .rowPrice::after { content: '11.95'; } #XmenMicronautsSetBLink   { display: none }
#xmen301to339Link         .colStats .rowPrice::after { content: '65.00'; }
